.App{
  height: 100vh; /*altura de la app total de la pantalla*/
  padding-top: 10px;
  background-color: rgb(240, 237, 237);
  font-family: Lato,sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.calculator-container{
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: aquamarine;
  border-radius: 20px;
  border: 5px solid white
}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}